.single-product {
    display: flex;
    flex-direction: row;
    gap: 5vw;
    margin-top: 90px;

}


.single-product .left {
    width:20vw;
    max-height: 50vh;
    display: flex;
    justify-content: center;
    margin-right:5vw;
}

.single-product .left img {
    width: 20vw;
    height: 100%;
}

.single-product .right {
    width: 30vw;
    display: flex;
    flex-direction:column;
    gap: 20px;
    margin-top: 40px;
    margin-right:50vh;
    margin-bottom:20vh;
    
    
}
.single-product .right .title {
    color:black;
    font-size: xx-large;
}

.single-product .right .price{
    color: green;
    font-size: xx-large;
} 
.single-product .right .description {
    font-size: larger;
    font-style: italic;
    color:gray;
    margin-right: 55px;

}
.single-product .right .categories {
    font-size: x-large;
}

.single-product .right .btn-container {
    display: flex;
    flex-direction: row;
    gap: 50px;

}

.single-product .right .btn-container .btn {
    padding: 10px;
    color: whitesmoke;
    background-color: blue;
    border-radius: 20px;
    font-size: large;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.single-product .right .btn-container .btn:hover {
    background-color: whitesmoke;
    color: blue;
}

.single-product .right .btn-container .btnWishL {
    padding: 10px;
    color: whitesmoke;
    background-color: blue;
    border-radius: 20px;
    font-size: large;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;

}